<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="POSCODE" value="001"/>
    <add key="DB_USER" value="apb" />
    <add key="DB_PASSWORD" value="gvru[u" />
    <add key="DB_SERVER" value="APB" />
	<add key="PORT" value="COM1" />
	 <add key="PRINTERPORT" value="COM2" />
	  <add key="FONT" value="Arial" />
	  <add key="SIZE" value="11" />
  </appSettings>
    <connectionStrings>
        <add name="ABBCONNECTION" connectionString="Data Source=APB;Persist Security Info=True;User ID=apb;Password=gvru[u;Unicode=True"
            providerName="System.Data.OracleClient" />
		<add name="ABBSERVERCONNECTION" connectionString="Data Source=APBSERVER;Persist Security Info=True;User ID=apb;Password=gvru[u;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>